registry=https://pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/11/2019.
; begin auth token
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/registry/:username=bhekanik
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/registry/:_password=eDZubjNoMnB4Y3A3MzVwc25iYzRreGphd3EycnhveHM1amdmbWF4dTJvY3l2cWJpMnpmYQ==
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/:username=bhekanik
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/:_password=eDZubjNoMnB4Y3A3MzVwc25iYzRreGphd3EycnhveHM1amdmbWF4dTJvY3l2cWJpMnpmYQ==
//pkgs.dev.azure.com/Bunkr/_packaging/bhekanik/npm/:email=npm requires email to be set but doesn't use the value
; end auth token